export DATASET_PATH=""


layout poetry

# Install kernel with project-based name
KERNEL_NAME="$(basename $(pwd))-poetry"
poetry run python -m ipykernel install --user --name="$KERNEL_NAME" --display-name="[Poetry] $(basename $(pwd))"


source_env_if_exists .envrc.local